parameters:
    paths:
        - src
    level: 6
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Foundation\\Application::make#'
